<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: lightgray;">

  <!-- <iframe style="z-index: 0; border: none;" width="100%" height="100%" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyD1uDuJo8_qV0zPNZLqizEDGUcRpYGRNTc&origin=Oslo+Norway&destination=Telemark+Norway"></iframe> -->

  <div *ngIf="stateControl.isBotoesIniciais" style="position: absolute;bottom: 0;text-align: center;left: 0; width: 100%;">
    <button ion-button secondary round large (click)="queroAjudar()" style="min-width: 210px; margin-bottom: 20px;">Quero
      Ajudar</button>
    <button ion-button secondary round large (click)="createAssist()" style="min-width: 210px; margin-bottom: 40px;">Preciso
      de Ajuda!</button>
  </div>

  <div *ngIf="stateControl.isCriarAjuda" style="position: absolute; top: 0; left: 0; z-index: 10; height: 100%; width: 100%; background: #00BCD4;">
    <ion-grid>
      <ion-row style="justify-content: center;">
        <ion-label style="color: white;">De</ion-label>
      </ion-row>
      <ion-row style="justify-content: center;">
        <ion-input type="text" [(ngModel)]="formDePara.origem.address" style="background-color: white; border-radius: 8px; color: #000;"></ion-input>
      </ion-row>
      <ion-row style="justify-content: center;">
        <ion-label style="color: white;">Até</ion-label>
      </ion-row>
      <ion-row style="justify-content: center;">
        <ion-input type="text" [(ngModel)]="formDePara.destino.address" style="background-color: white; border-radius: 8px; color: #000;"></ion-input>
      </ion-row>
      <ion-row style="justify-content: center;">
        <ion-label style="color: white;">Informações</ion-label>
      </ion-row>
      <ion-row style="justify-content: center;">
        <textarea [(ngModel)]="formDePara.info" rows="4" style="width: 100%; background-color: white; border-radius: 8px; color: #000; padding: 13px 8px;"></textarea>
      </ion-row>
      <ion-row style="justify-content: center;">
        <button ion-button secondary round large (click)="requestAssist()" style="min-width: 210px; margin-bottom: 40px;">Preciso
          de Ajuda!</button>
      </ion-row>
    </ion-grid>

  </div>

  <div *ngIf="stateControl.isCardListaPessoas" style="position: absolute;bottom: 0;text-align: center;left: 0; width: 100%; padding: 0px 12px;">
    <div style="margin-bottom: 0; border-radius: 8px 8px 0px 0px; background-color: white; padding: 8px 12px;">
      <ion-list inset>
        <ion-item *ngIf="pessoasProximasNecessitandoDeAjuda.length == 0">
          <p>Pesquisando...</p>
        </ion-item>

        <ion-item *ngFor="let pessoa of pessoasProximasNecessitandoDeAjuda">
          <ion-avatar item-start>
            <img [src]="pessoa.avatar"> <!-- URL -->
            <!-- <img src="pessoa.avatar"> base64 -->
          </ion-avatar>
          <h2>{{pessoa.name}}</h2>
          <p>{{pessoa.deficiencia}}</p>
          <ion-icon name="pin" item-end></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="stateControl.isCardDetalhePessoa && detalhePessoaNecessitandoAjuda != null" style="position: absolute;bottom: 0;text-align: center;left: 0; width: 100%; padding: 0px 12px;">
    <div style="margin-bottom: 0; border-radius: 8px 8px 0px 0px; background-color: white; padding: 8px 12px;">
      <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="detalhePessoaNecessitandoAjuda.avatar" style="width: 72px; height: 72px;">
          </ion-avatar>
          <h2>{{detalhePessoaNecessitandoAjuda.name}}</h2>
          <p>{{detalhePessoaNecessitandoAjuda.deficiencia}}</p>
          <ion-icon name="pin" item-end></ion-icon>
        </ion-item>
        <ion-item>
          <h2>De</h2>
          <p>{{detalhePessoaNecessitandoAjuda.origem.address}}</p>
        </ion-item>
        <ion-item>
          <h2>Até</h2>
          <p>{{detalhePessoaNecessitandoAjuda.destino.address}}</p>
        </ion-item>
        <ion-item>
          <h2>Informações</h2>
          <p>{{detalhePessoaNecessitandoAjuda.info}}</p>
        </ion-item>
      </ion-list>
      <button ion-button secondary round large style="min-width: 210px; margin-bottom: 20px;">Ajudar!!!</button>
    </div>
  </div>

  <div *ngIf="stateControl.isCardOpcoesAjudante" style="position: absolute;bottom: 0;text-align: center;left: 0; width: 100%; padding: 0px 12px;">
    <div style="margin-bottom: 0; border-radius: 8px 8px 0px 0px; background-color: white; padding-top: 10px;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row style="justify-content: center;">
              <ion-icon name="call" style="font-size: 24px;"></ion-icon>
            </ion-row>
            <ion-row style="justify-content: center;">
              <p>Ligar</p>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row style="justify-content: center;">
              <ion-icon name="text" style="font-size: 24px;"></ion-icon>
            </ion-row>
            <ion-row style="justify-content: center;">
              <p>Menssagem</p>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row style="justify-content: center;">
              <ion-icon name="navigate" style="font-size: 24px;"></ion-icon>
            </ion-row>
            <ion-row style="justify-content: center;">
              <p>Rota</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>