page-home {
    .toolbar-background-md {
        background: #00BCD4;
    }

    .toolbar-title-md {
        color: #FFFFFF;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #FFFFFF;
    }

    .button-md {
        background: #00BCD4;
        box-shadow: none;
    }
}
